.daily_egg_page {
    --spacing-section: 4em;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
    overflow-y: auto;
}

.daily_egg_page .bar_header.step_header p strong {
    font-family: var(--font-family-cookieRun);
    font-weight: 600;
}

.bar_header.step_header.daily_egg {
    padding: 1rem 0;
}

.content {
    position: relative;
    z-index: 1;
}

.topic_section {
    background-color: #fdf9f0;
    padding: 9.5rem 0 var(--spacing-section);
}

.topic_section .wrap {
    display: flex;
    gap: 3.5em;
    align-items: center;
}

.topic_section .thumb_block {
    max-width: 40%;
    aspect-ratio: 25 / 23;
    border-radius: 2.5em;
    overflow: hidden;
}

.topic_section .desc_block { max-width: 60%; flex: 1; }

.topic_section .thumb_block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.topic_section .topic_box .title {
    min-width: 9.5em;
    font-family: var(--font-family-cookieRun);
    font-size: 2.5rem;
    color: #3ea19a;
    font-weight: 600;
}

.topic_section .topic_box .title_block {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 0.5em;
}

.daily_egg_page .progress_block {
    position: relative;
    width: 100%;
}

.daily_egg_page .progress_block .progress_status {
    position: absolute;
    top: -2.25rem;
    right: 0;
    font-size: 1.3rem;
    color: #797876;
    text-align: right;
    margin-bottom: 0.6em;
}

.daily_egg_page .progress_block .progress_status .current_count {
    font-size: 1.2em;
    font-weight: 600;
}

.daily_egg_page .progress_block .progress_status .current_count.active {
    color: #e63334;
}

.daily_egg_page .progress_box {
    width: 100%;
    height: 0.7rem;
    background-color: #e2e2e2;
    border-radius: 3em;
}

.daily_egg_page .progress_block .progress_bar {
    width: 0;
    position: relative;
    display: inline-block;
    height: inherit;
    text-align: right;
    background-color: #e63334;
    border-radius: 3em;
    transition: width 0.8s ease-in;
}

.daily_egg_page .progress_block .ico_handle {
    display: inline-block;
    width: 3.5rem;
    height: 4.6rem;
    background: url(/img/common/ico_progress.png) center center no-repeat;
    background-size: contain;
    margin-top: -2rem;
    margin-right: -1rem;
    cursor: pointer;
}

.daily_egg_page .progress_block .ico_handle.walk {
    animation: walk 0.5s ease-in infinite;
}

@keyframes walk {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
}

/* tooltip */
.tippy-box {
    --thema-color: #ee696a;
    background-color: var(--thema-color);
    font-size: 1.5rem;
    color: #fff;
}

.tippy-box[data-theme~='before'] {
    --thema-color: #cecece;
    background-color: var(--thema-color);
    font-size: 1.5rem;
    color: #fff;
}

.tippy-box[data-theme~='doing'] {
    --thema-color: #ee696a;
    background-color: var(--thema-color);
    font-size: 1.5rem;
    color: #fff;
}

.tippy-box[data-theme~='finished'] {
    --thema-color: #e63334;
    background-color: var(--thema-color);
    font-size: 1.5rem;
    color: #fff;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before { border-top-color: var(--thema-color); }
.tippy-box[data-placement^='bottom'] > .tippy-arrow::before { border-bottom-color: var(--thema-color); }
.tippy-box[data-placement^='left'] > .tippy-arrow::before { border-left-color: var(--thema-color); }
.tippy-box[data-placement^='right'] > .tippy-arrow::before { border-right-color: var(--thema-color); }

.topic_section .topic_box .desc {
    min-height: 2.1em;
    font-size: 1.9rem;
    font-weight: 800;
    line-height: 1.25;
}

.topic_section .topic_box .btn_area {
    display: flex;
    gap: 0.7rem;
    margin-top: 1.5rem;
}

.btn_topic {
    min-width: 7em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4em;
    font-family: var(--font-family-primary);
    font-size: 1.65rem;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    padding: 0.5em 0.5em 0.6em;
    border-radius: 3em;
}

.btn_topic.pink { background-color: #f58897; }
.btn_topic.orange { background-color: #efab49; }

.ico {
    display: inline-block;
    position: relative;
    top: 0.05em;
    width: 0.95em;
    height: 0.95em;
    background-size: contain !important;
}

.btn_topic .ico { top: 0; }
.btn_topic .ico.ico_book { top: 0.05em; }

.ico_book {
    top: 0.1em;
    background: url(./../../img/common/ico_book.png) center center no-repeat;
}

.pink.ico_book {
    background: url(./../../img/common/ico_book_pink.png) center center no-repeat;
}

.ico_tip {
    background: url(./../../img/common/ico_tip.png) center center no-repeat;
}

.orange.ico_tip {
    background: url(./../../img/common/ico_tip_orange.png) center center no-repeat;
}

.ico_more {
    background: url(./../../img/common/ico_more.png) center center no-repeat;
}

.ico_plus {
    position: relative;
    top: 0.25em;
    width: 1.3em;
    height: 1.3em;
    background: url(./../../img/common/ico_plus.png) center center no-repeat;
}

.topic_section .keypoint_box .title {
    font-family: var(--font-family-cookieRun);
    font-size: 2.1rem;
    font-weight: 600;
    margin-bottom: 0.4em;
}


.topic_section .keypoint_box .btn_more {
    font-size: 1.7rem;
    color: #5a5a58;
    font-weight: 600;
}

.topic_section .keypoint_box .btn_more .ico_more {
    position: relative;
    top: 0.17em;
}

.topic_section .keypoint_box .desc {
    font-size: 1.6rem;
    line-height: 1.6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* 제한할 텍스트의 줄 수 */
}

.topic_section .title_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.daily_egg_page .division { background-color: #dcdcdc; height: 1px; border: 0; margin: 3rem 0; }

.step_section {
    background-color: #fff;
    padding: var(--spacing-section) 0;
}

.step_section .wrap {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.step_box .title_block {
    display: flex;
    gap: 0.7em;
    align-items: center;
    margin-bottom: 3rem;
}

.step_box .title_block .title {
    font-family: var(--font-family-cookieRun);
    font-size: 2.4rem;
    font-weight: 600;
}

.step_box .step_label {
    position: relative;
    top: 0.1em;
    background-color: #3ea19a;
    font-family: var(--font-family-cookieRun);
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
    line-height: 1em;
    padding: 0.3em 0.8em 0.25em;
    border-radius: 3em;
}

.storybook_box {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.storybook_box .img_book {
    max-width: 400px;
    width: 18%;
    object-fit: cover;
    aspect-ratio: 1 /1;
    border-radius: 2.6rem;
    overflow: hidden;
}
.storybook_box .img_book img { max-width: 100%; }

.storybook_box .desc {
    font-size: 1.8rem;
    font-weight: 500;
    color: #353535;
}

.step_box .list_block {
    margin: 0 -3rem;
    padding-inline: 3rem;
}

.step_box .video_slide .item a, .step_box .card_slide .item a {
    margin: 0;
}

.step_box .video_slide .info .title,
.step_box .sound_slide .info .title {
    font-size: 1.8rem;
}

.sound_section {
    padding: var(--spacing-section) 0;
    background-color: #fff4de;
}

.grid_slide {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 1.5rem;
}

.grid_slide:has(.audio) {
    grid-template-columns: repeat(5, 1fr);
}

.grid_slide .item.audio .info {
    text-align: center;
    padding-inline: 1rem;
}
